<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <appender name="PostgresAppender" type="ConsoleApp1.PostgresAppender, ConsoleApp1">
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="PostgresAppender"/>
    </root>
  </log4net>
  <connectionStrings>
    <add name="postgres" providerName="Npgsql.NpgsqlConnection" connectionString="Server=10.105.10.29;Database=Empathy;User ID=postgres; Password=postgres;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>